<p id="notice"><%= notice %></p>

<h1>Audits</h1>

<% @audits.each do |audit| %>
  <h2>Entity <%= auditable_name(audit) %></h2>

  <p>
    <strong>Changes: </strong><%= audit_changes(audit) %>
  </p>

  <p>
    <strong>Changed by: </strong><%= audit.user_id %>
  </p>

  <p>
    <strong>Changed at: </strong><%= audit.created_at %>
  </p>
<% end %>
